{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="col">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora dolore similique culpa nemo numquam? Nesciunt ad eos reiciendis mollitia sit, magnam enim, quas, facere nihil perspiciatis fugit, ab quod. Maiores.
	</div>

	<div class="col">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora dolore similique culpa nemo numquam? Nesciunt ad eos reiciendis mollitia sit, magnam enim, quas, facere nihil perspiciatis fugit, ab quod. Maiores.
	</div>

	<div class="col">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora dolore similique culpa nemo numquam? Nesciunt ad eos reiciendis mollitia sit, magnam enim, quas, facere nihil perspiciatis fugit, ab quod. Maiores.
	</div>
	
{% endblock content %}

Gui